:root {
  --color-azul: #9EC9FF;
  --bg-color: #F8F2EA;
  --black: #1A1A1F;
  --color-rosa: #F6A2F1;
  --color-morado: #B37EDB;
  --color-azul-sombra: #0D076B;
  --color-amarillo:#F1CD4B;
}


.h1, .h2 , .h3, p {
  font-family: 'Sora', sans-serif;
}


/* cookies */
.cookies {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  backdrop-filter: blur(5px);
}

#confirm-button {
  background-color: black;
}

.confirm-button {
  background-color: #9ec9ff;
}



.reject-button {
  background-color: white;
}

.cookie-info {
  text-align: justify;
  font-size: 0.8em;
  color: black;
  padding: 10px 30px 20px 30px;
  text-align: left;
}

.buttons button {
  width: 11em;
  height: 3em;
  justify-content: center;
  align-items: center;
  display: flex;
  border-color: black;
  border-radius: 30px;
  font-weight: 400;
  font-size: 0.9em;
  margin-left: 17px;
}

.buttons {
  display: flex;
  justify-content: right;
  transition-delay: 0.5s;
  transition-duration: 1s;
  opacity: 1;
  padding-right: 30px;
}

.buttons :hover {
  transition-delay: 0s;
  opacity: 1;
  background: black;
  color: #ffffff;
  font-weight: 500;
}

.buttons :active {
  animation: go-down-cookies 0.8s;
  background: black;
}

.second-button {
  color: rgb(99, 99, 99);
  font-size: 11px;
  margin-left: 30px;
  margin-bottom: 15px;
  display: flex;
  align-content: center;
}

.jully-logo {
  border-bottom: inset;
  border-width: 1px;
  border-color: black;
  background-color: #9ec9ff;
  padding: 5px 3px 5px 30px;
  align-content: center;
}

.jully-logo img {
  width: 10%;
  display: flex;
}

.cookie-banner-container {
  height: 30%;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  animation: show-cookies 1s;
  width: 95vw;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: #f8f2ea;
  border-radius: 0px;
  box-shadow: 0px 4px 8px rgba(90, 90, 90, 0.1);
}


/* MENU */

/* HEADER */
header{
  /* height: 100vh; */
  overflow: hidden;
}

/* NAV */
#menu{
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  height: 4em;
  border: 1em;
  border-color: black;
  z-index: 1;
  background-color: white;
}

nav{
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}

#menu > :nth-child(1){
  margin-left: 2em;
}

#menu > :nth-child(1) > i{
  display: none;
}

#logo{
  width: 3em;;
}

/* BOTONES MENU CENTRAL */
#menu > :nth-child(2){
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35em;
}

/* BOTONES MENU DCHA */
#menu > :nth-child(3){
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10em;
  justify-content: space-evenly;
  margin-RIGHt: 2em;
}





/* CARRUSEL */
.carousel{
  top: 4em;
  position: relative;
}

.carousel-item{
  width: 100%;
  object-fit: cover;
}





/* TEXTO COLECCION */
.texto_coleccion{
  display: flex;
  flex-direction: row;
  top: 35vw;
  z-index: 0;
  width: 32em;
  position: absolute;
  margin-left: 5em;
  justify-content: space-between;
  align-items: center
}

.texto_coleccion > div > h1{
  font-size: 4em;
}

.texto_coleccion > div > h2{
  font-size: 3em;
}



/* BOTON */
.btn {
  color: #000000;
  background-color: white;
  text-decoration: none;
  font-size: 1.5VW;
  /* text-transform: uppercase; */
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 0.2em 2em;
  box-shadow: 0px 5px 0 0 var(--color-azul-sombra);
  position: relative;
  inset: 0;
  cursor: pointer;
  transform: rotateX(0), rotateY(0) rotateZ(0);
  display: inline-block;
  outline: 2px dashed transparent;
  transition: all 200ms ease;
}

.btn:hover {
  inset: 6px 0 5.5px 0;
  transform: rotateX(5deg) rotateY(3deg) rotateZ(.25deg);
  box-shadow: none;
  color: #000000;
  background-color: white;
  border: 2px solid #000000;
}




/* MAIN */
body{
  background-color: var(--bg-color);
}
#button-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--color);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/* SECCION1 MINIMENU*/
#minimenu{
  margin-top: 3em;
}

.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-azul);
}

.col> img{
  max-width: 50%;
    
}




/* SECCION2 DESLUMBRA */

#deslumbra{
  margin-top: 5em;
  font-family: 'myFirstFont';
}

#deslumbra > div{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 2em;
}

#deslumbra > div > h2{
  font-size: 15vw;
}

#deslumbra > div > div> p{
  font-size: 3vw;
}
/* SECCION 3 */






/* SLIDE PELÃCULAS PAG PRINCIPAL */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next, 
.swiper-button-prev {
  color: var(--color);
}
.swiper-button-next:hover, 
.swiper-button-prev:hover {
  color: white;
}

.swiper-slide{
  width: auto;
}

.thumbtileimg {
  width: 20%;
}


@keyframes show-cookies {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}

/* responsive tablet */

@media (max-width: 990px) {
  .cookie-info {
    font-size: 0.6em;
    padding: 0px 20px 60px 20px;
    text-align: justify;
  }
  .cookie-banner-container {
    height: 35%;
  }

  .buttons {
    padding-right: 20px;
  }

  .jully-logo {
    padding: 5px 3px 5px 20px;
  }
  
  .buttons button {
    font-size: 0.8em;
    width: 10.5em;
    height: 2.6em;
  }

  .hidden-info {
    opacity: 1;
  }

  .second-button {
    font-size: 0.5em;
    margin-left: 20px;
  }
}

/* responsive movil */

@media only screen and (max-width: 576px) {
  .cookie-info {
    margin: 0px 15px 10px 15px;
  }
    .jully-logo {
    padding: 5px 3px 5px 15px;
  }

  img {
    width: 10%;
  }

  .buttons button {
    font-size: 0.7em;
    width: 100%;
    height: 3.2em;
    margin: 0.3em;
  }

  .buttons {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .second-button {
    margin-left: 15px;
    margin-bottom: 12px;
  }
}




@media only screen and (max-width: 1135px) {
  .btn {
    font-size: 2.5vw;
  }

  .texto_coleccion {
    width: 20em;
    top: 42vw;   
    width: 24em;
  }

  .texto_coleccion > div > h1{
    font-size: 3em;
  }
  
  .texto_coleccion > div > h2{
    font-size: 2em;
  }
}









:root {
  --black: #1f1f1f;
}

.main {
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: "LeagueSpartanVariable";
  background: var(--black);
  overflow: hidden;
  transition: background .3s;
} 

.main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("http://ashleydutton.co.uk/assets/images/noise.png");
  opacity: 0.5;
} 

.main__slider {
  position: fixed !important;
  width: 100vw;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.main__slider.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}

.main__item.slick-slide {
  position: relative;
  opacity: 0.4;
  transition: opacity 0.5s;
  outline: none;
}

.main__item.slick-current {
  opacity: 1;
}

.main__item.slick-current .main__title {
  animation: grow 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.main__item.slick-current .main__image {
  transform: scale(1);
}

.main__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-variation-settings: "wght" 200;
  animation: shrink 0.5s;
  animation-fill-mode: forwards;
  cursor: grab;
}

.main__image {
  width: 380px;
  height: 500px;
  transform: scale(0.5);
  transition: transform 0.5s;
  transition-delay: 0.1s;
  background-size: cover;
  background-position: center;
  cursor: grab;
}

.main__image:active, .main__title:active {
  cursor: grabbing;
}

.main__credit {
  position: fixed;
  bottom: 30px;
  right: 50px;
  font-size: 14px;
  letter-spacing: 0.02em;
  font-variation-settings: "wght" 200;
}

.main__credit a {
  text-decoration: none;
  font-variation-settings: "wght" 650;
}

.main__info {
  position: fixed;
  top: 50px;
  right: 50px;
}

.main__info:hover + .main__info-window {
  opacity: 1;
  max-height: 200px;
}

.main__info-window {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 300px;
  max-height: 0;
  padding: 20px;
  background: #fff;
  color: var(--black);
  font-size: 14px;
  line-height: 1.4em;
  opacity: 0;
  transition: all 0.3s;
}

.main__options {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 50px;
}

.main__option {
  position: relative;
  font-size: 14px;
  margin-right: 30px;
  text-decoration: none;
  font-variation-settings: "wght" 300;
  transition: all .3s;
}

.main__option.active {
  font-variation-settings: "wght" 700;
}

.main__option.active:after {
  content: '';
  position: absolute;
  background: #fff;
  height: 1px;
  width: 100%;;
  bottom: -5px;
  left: 0;
}

.main--sports {
  background: #fff;
}

.main--sports:before {
  opacity: 1;
}

.main--sports * {
  color: var(--black);
}

.main--sports .main__item.slick-current .main__title {
  font-family: "SourceSerifVariable";
  animation: none;
}

.main--sports .main__title {
  font-family: "SourceSerifVariable";
}

.main--sports .main__item.slick-current:hover .main__title {
  animation: grow 0.3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.main--sports .main__item.slick-current .main__title {
  font-size: 50px;
  animation: shrink 0.5s;
  animation-fill-mode: forwards;
}

.main--sports .main__image {
  width: 500px;
  height: 350px;
  opacity: .7;
  background-size: contain;
  background-repeat: no-repeat;
}

.main--sports .main__option.active:after {
  background: var(--black);
}

.main--sports .main__info-icon {
  stroke: var(--black);
}

.main--sports .main__info-window {
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}


/* Animations */

@keyframes grow {
  0% {
    font-variation-settings: "wght" 200;
    font-size: 50px;
  }
  100% {
    font-variation-settings: "wght" 650;
    font-size: 125px;
  }
}

@keyframes shrink {
  0% {
    font-variation-settings: "wght" 650;
    font-size: 125px;
  }
  100% {
    font-variation-settings: "wght" 200;
    font-size: 50px;
  }
}

/*---------------------------------------*/

@media only screen and (max-width: 650px){
  .main__image {
    height: 350px;
  }

  .main__info {
    top: 20px;
    right: 20px;
  }

  .main__item.slick-slide {
    margin: 0 20px;
  }

  .main__credit {
    bottom: 25px;
    right: 25px;
  }

  .main__options {
    bottom: 25px;
    left: 25px;
  }

  @keyframes grow {
    0% {
      font-variation-settings: "wght" 200;
      font-size: 65px;
    }
    100% {
      font-variation-settings: "wght" 650;
      font-size: 65px;
    }
  }

  @keyframes shrink {
    0% {
      font-variation-settings: "wght" 650;
      font-size: 65px;
    }
    100% {
      font-variation-settings: "wght" 200;
      font-size: 65px;
    }
  }
}





























