* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
}

h3,
h1,
a,
p {
  color: black;
  margin: 0;
}

h1{
    font-size: 6vw;
}


/* seccion businessmen azul*/
.businessmen {
  background-color: #9ec9ff;
  display: flex;
  height: 80vh;
  border-style: solid;
  border-width: 2px;
}

.workers-photos {
  background-color: #9ec9ff;
  display: flex;
  flex: 1.7;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-left: 2em;
}

.workers-photos img {
  width: 400px;
  height: 450px;
  object-fit: cover;
  display: flex;
  position: absolute;
  border-style: solid;
  border-width: 2px;

}

.categories {
  align-content: left;
  background-color: #9ec9ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  margin-right: 2em;
  margin-left: 1.5em;
}

.categories button {
  display: flex;
  align-items: center;
  height: 8em;
  width: 35em;
  border-width: 0.1em;
  border-color: white;
  margin-bottom: 1.5em;
  color: white;
  border-radius: 70px;
  justify-content: center;
}

.categories button a {
  font-size: 5em;

}

.categories button:hover {
  background-color: white;
  color: #9ec9ff;
  border-color: white;
}

.categories button:active {
  background-color: #9ec9ff;
  color: white;
}
.categories button:active {
  --bs-btn-active-color: white;
  --bs-btn-active-bg: rgb(0, 0, 0);
  --bs-btn-active-border-color: rgb(0, 0, 0);
}

/* seccion about rosada*/

.about {
  background-color: blueviolet;
  display: flex;
  height: 60vh;
}

.who {
  display: flex;
  flex: 1;
  background-color: #f6a2f1;
  flex-direction: column;
  justify-content: center;
  padding: 6.5em;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 2px;
}



/* seccion about div class who */

.whomedia {
  display: flex;
  flex: 1;
  background-color: #b37edb;
  flex-direction: column;
  justify-content: center;
  border-right-style: solid;
  border-width: 2px;
}

.whomedia img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 2px;
}

.about p {
  text-align: left;
}

/* seccion compromise div class who */
.about2 {
  background-color: blueviolet;
  display: flex;
  height: 80vh;
}

.compromise {
  display: flex;
  flex: 1;
  background-color: #b37edb;
  flex-direction: column;
  justify-content: center;
  padding: 6.5em;
  border-right-style: solid;
  border-width: 2px;
}

.compromisemedia {
  display: flex;
  height: 60vh;
  flex: 1;
  background-color: #b37edb;
  flex-direction: column;
  justify-content: center;
  border-right-style: solid;
  border-width: 2px;
}

.compromisemedia img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 60vh;
  border-style: solid;
  border-width: 2px;
}

.imagen_fondo {
  background-image: url(../media/img/compromisoJully.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 2px;
  background-size: cover;
}


/* seccion location amarilla */
.location {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  height: 50vw;
  border-style: solid;
  border-width: 2px;
}

.findus {
  display: flex;
  background-color: #f1cd4b;
  justify-content: flex-end;
  border-bottom: #0000;
  border-width: 2px;
  width: 40%;
  align-items: flex-end;
  padding-bottom: 4.5vw;
  flex-direction: column;
  padding: 3em 3em;
  align-items: flex-start
  }
    

.findus > div{
  width: 80%;
}

.findus > div> p {
  margin-bottom: 0.2em;
}

.findus> div > a {
  color: black;
}

.google-maps {
  display: flex;
  background-color: #f1cd4b;
  flex-direction: column;
  justify-content: center;
  border-bottom: #000000;
  border-width: 2px;
  width: 60%;
  align-items: center;
}

.google-maps div {
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-maps div iframe{
  height: 40vw;
  width: 40vw;
}



/* seccion newsletter */
button:focus,
input:focus,
textarea:focus {
  outline: 0;
}

.newsletter_wrapper {
  height: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-right-style: solid;
  border-left-style:solid;
  border-width: 2px;
}

.newsletter_wrapper h2 {
  color: #000000;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0.3em;
  font-size: 2.9em;
}

.newsletter_wrapper h1::before {
  content: "";
  position: absolute;
  background: #dddddd;
  width: 90px;
  height: 1px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.newsletter_wrapper p {
  color: #000000;
  font-size: 1.3em;
  line-height: 1.2em;
}

.boton-enviar {
  position: relative;
}

.placeholder {
  margin: 1.4em 0em 0.8em 0em;
  opacity: 1;
  width: 24em;
  height: 3em;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  border-radius: 25px;
}

.placeholder input {
  border-style: hidden;
  width: 100%;
  margin: 0px 0px 0px 23px;
  background-color: transparent;
}

.enviar button {
  width: 8.7em;
  height: 3em;
  border-style: hidden;
  background-color: #ffffff;
  border-radius: 25px;
}

.enviar button:hover {
  background-color: #000000;
  color: #ffffff;
}

.newsletter_wrapper form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px;
  border-left: 1px solid #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #9ec9ff;
}

.newsletter h1 {
  margin-bottom: 0.6em;
  overflow: hidden;
  white-space: nowrap;
}


/* acordeon */

.accordion{
--bs-accordion-btn-focus-border-color:#F6A2F1;
--bs-accordion-border-color: black;
--bs-accordion-active-bg:#F8F2EA;
--bs-accordion-border-radius:none;
--bs-accordion-inner-border-radius:none;
--bs-accordion-btn-focus-background-color:#F6A2F1;
--bs-accordion-btn-focus-border-color: none; 
--bs-accordion-btn-focus-box-shadow:none;
background-color: #F8F2EA;

}
.accordion-button:not(.collapsed) {
  border-color: #000000;
  border-bottom-style: solid;

}

.accordion-body{
  padding: 0;
}

.accordion-body div {
  
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
}

.accordion-body div:active {
background-color:#f8ead7;
color: rgb(0, 0, 0);
}

.accordion-body div:hover {
  font-weight: bold;
  }


.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}

.accordion-button{
  border-radius: 0;
  padding:1.5em 2.4em 1.5em 3em;
  
}

.accordion-item {
  border-radius:0;
}

.accordion a{
  font-size:1.2em;
}

h3{
  margin: 0;
}






/* footer section */

.footer {
  height: 45vh;
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  background-color: #f8f2ea;
  flex-wrap: wrap;
}

.information a,
.aboutus a,
.youneedhelp a {
  font-size: 0.9em;
}

.information {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
}

.aboutus {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
}

.youneedhelp {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
}

.redeslogo {
  height: 25vh;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  text-align: left;
  background-color: #f8f2ea;
  flex-wrap: wrap;
  flex-direction: row;
}

.redes {
  margin-right: 3em;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.redes i {
  display: flex;
  width: 1.5em;
  height: 0.5em;
  align-items: center;
  justify-content: center;
}

.logofooter {
  display: flex;
  margin-left: 3em;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
}

.logofooter img {
  width: 7.5em;
}

/* copyright */

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f2ea;
  padding-bottom: 3em;
}

.copyright p {
  margin: 0.3em;
  font-size: 0.8em;
}

/* Botones businessmen section */
.btn-2,
.btn-2 *,
.btn-2 :after,
.btn-2 :before,
.btn-2:after,
.btn-2:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-2:disabled {
  cursor: default;
}
.btn-2:-moz-focusring {
  outline: auto;
}
.btn-2 svg {
  display: block;
  vertical-align: middle;
}
.btn-2 [hidden] {
  display: none;
}
.btn-2 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-2 span {
  mix-blend-mode: difference;
}
.btn-2:before {
  background: #fff;
  content: "";
  inset: 0;
  position: absolute;
  transform: translateX(var(--progress, -100%));
  transition: transform 0.2s ease;
}
.btn-2:hover:before {
  --progress: 0;
}











/* responsive movil */

/* @media only screen and (max-width: 1500px){} */

@media only screen and (max-width: 1135px){
  /* businessmen section */
  .businessmen{
    height: 80vw;
  }

  .categories button {
    height: 12vw;
    width: 40vw;
    justify-content: center;
  }

  .workers-photos {
    width: 45%;
    flex: none;
  }

  .workers-photos img {
    width: 40vw;
    height: 50vw;
  }
  

  /* about */
  .about{
    height:44vh;
  }

  .about h1{
    font-size: 2em;
  }
  
  .compromise{
    padding: 3em;
    font-size: 1em;
  }

  .who{
    padding: 3em;
  }


/* location */
  .categories button a {
    font-size: 5vw;
    padding-left: 0;
  }

  .who {
    padding: 3em;
  }

  .who h1 {
    font-size: 2em;
  }

  .newsletter_wrapper {
    height: 85vh
  }

}






@media only screen and (max-width: 850px){

  /* about */
  .about {
    flex-direction: column;
    background-color: blueviolet;
    display: flex;
    height: 80vh;
    width: auto;
  }
  
  .imagen_fondo{
    height: 60vh;
  }

  .who h1 {
    font-size: 1.6em;
  }
  .compromise{
    padding: 2em;
  }
  
  .compromise h1{
    font-size:1.6em
  }
  
  .about p{
    font-size: 1em;
  }

  .who{
    display: flex;
    flex: 1;
    background-color: #f6a2f1;
    flex-direction: column;
    justify-content: center;
    padding: 8.5em;
    border-bottom-style: solid;
    border-width: 2px;
    padding: 2em;
  }


  /* location */
  .location {
    flex-direction: column;
    height: 80vw;
  }
  
  .findus {
    width: 100%;
    justify-content: flex-start;
    padding: 3em;
  }
  
  .google-maps {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
  }
  
  .google-maps div {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .google-maps div iframe{
    height: 40vw;
    width: 70vw;
  }



/* FOOTER */
/* newletter */
  .newsletter h1{
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0em 0em 0.6em 0em;
  }

  .newsletter_wrapper{
    padding: 1em;
  }

  .newsletter_wrapper form {
  width: 88%;
  }

  .newsletter p{
    font-size: 1.1em;
    margin: 0;
    padding: 0em 1em 0.5em 1em;
    text-align: center;
  }
  
  .placeholder{
    width: 19em;
    margin: 0.8em 0em 0.8em 0em;
  }

  .newsletter h1{
    white-space: inherit;
  }

  .placeholder {
    height: 2.8em;
}
  .enviar button {
    width: 7em;
    height: 2.7em;
  
}

  .placeholder input {
    font-size: 0.9em;
   }



/* TEXTO FOOTER */
  .footer{
    flex-direction: column;
    background-color: #f8f2ea;
    align-content: left;
    flex-wrap: nowrap;
    height: 50vh;
    padding-top: 2.5em;
  }

  .information{
    margin-left:2em;
  }

  .aboutus{
    margin-left:2em;
    justify-content: flex-start;
    justify-content: center
  }
    
  .youneedhelp{
    margin-left: 2em;
    justify-content: flex-start;
  }

  .redes{
    margin-right: 2.5em;
  }

  .redeslogo{
    display: flex;
    flex-direction: row;
    height:30vh;
    padding-top: 3em;
  }


  .logofooter{
    flex-wrap: nowrap;
    margin-left: 2.5em;
    align-items: flex-start;
    display: flex;
}
  }

  .copyright{
    padding: 0em 1em 0em 1em;
  }

  .copyright p{
    font-size:0.7em;
    text-align: center;
    margin-bottom: 1.4em;
  }

  



@media only screen and (max-width: 600px){
  /* integrantes */
  .businessmen {
    height: 122VW;
    flex-direction: column;
  }

  .categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
  }

  .workers-photos {
    margin: 0;
    width:100%;
    height:70vw;
    justify-content: center;
    flex: none;
  }

  .workers-photos img {
    display: block;
  }

  .categories button {
    height: 12vw;
    width: 40vw;
    justify-content: center;
    margin-bottom: 0.6em;
  }

  .categories button a {
    font-size: 4.5vw;
  }

  .about h2{
    font-size:1.4em;
    margin-bottom: 0.5em;
  }
  .about p {
    font-size: 0.8em;
}


  .redeslogo{
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-bottom: 2em;
    height: 35vh;
   }

   .imagen_fondo {
    height: 38vh;
}
   
  /* location */
  .location {
    height: 70vh;
}

  .findus {
    width: 100%;
    justify-content: flex-start;
    padding: 2em;
  }

  .findus > div{
    width: 100%;
  }

  .findus a, p{
    font-size: 0.8em;
  }

  .google-maps div iframe {
    height: 100%;
  }

  .newsletter_wrapper {
    height: 50vh;
}

.newsletter_wrapper h2 {
  font-size: 1.4em;
  font-weight: bold;
}

.newsletter_wrapper h2 {
  margin-bottom: 0.5em;
}


/* accordion */

.accordion-button{
  padding-left:2em;
  padding-right: 1.2em;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0s;
}

.accordion-button{
  padding: 1em 1.2em 1em 2em;
}


.accordion-item{
  border-style: solid;
  border-width: 2px;
}

h3{
  margin: 0;
  font-size: 1em;
}

.accordion-body {
  padding: 0;
}

.accordion-body a{
  font-size: 0.9em;
}

.accordion-body div {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
}

.redes {
  margin: 0;
  justify-content: center;
}

.redes i{
  width: 1.5em;
}

.copyright{
  padding: 0em 1em 2.4em 1em;
}
/* copyright */
.copyright p{
text-align: center;
font-size: 0.7em;
}


}
  






