* {
    margin: 0;
    font-family: 'Neue';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1{
    font-size: 6vw;
}

:root {
    --color-azul: #9EC9FF;
    --bg-color: #F8F2EA;
    --black: #1A1A1F;
    --color-rosa: #F6A2F1;
    --color-morado: #B37EDB;
    --color-azul-sombra: #0D076B;
    --color-amarillo:#F1CD4B;
}


/* BOTON */
.btn {
    color: #000000;
    background-color: white;
    text-decoration: none;
    font-size: 1.5VW;
    /* text-transform: uppercase; */
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 0.2em 2em;
    box-shadow: 0px 5px 0 0 var(--color-azul-sombra);
    position: relative;
    inset: 0;
    cursor: pointer;
    transform: rotateX(0), rotateY(0) rotateZ(0);
    display: inline-block;
    outline: 2px dashed transparent;
    transition: all 200ms ease;
}

.btn:hover {
    inset: 6px 0 5.5px 0;
    transform: rotateX(5deg) rotateY(3deg) rotateZ(.25deg);
    box-shadow: none;
    color: #000000;
    background-color: white;
    border: 2px solid #000000;
}



img{
    height: 100%;
}


/* MAIN */
/* SECTION */
#colec_cap > div{
    height: 40em;
    padding: 0 4em;
}
/* APARTADO 1 */
#apartado1{
    background-color: var(--color-azul);
    border: 2px solid var(--black);
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center
}

#apartado1 > div:nth-child(2){
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 30em;
    gap: 3em;

}

/* APARTADO 2 */
#apartado2{
    background-color: var(--color-morado);
    border: 2px solid var(--black);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3em;
    justify-content: center
}

#apartado2 > div:nth-child(1){
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 30em;
    gap: 3em;

}


/* APARTADO 3 */
#apartado3{
    background-color: var(--color-rosa);
    border: 2px solid var(--black);
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center
}

#apartado3 > div:nth-child(2){
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 30em;
    gap: 3em;

}


/* APARTADO 4 */
#apartado4{
    background-color: var(--color-amarillo);
    border: 2px solid var(--black);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3em;
    justify-content: center
}

#apartado4 > div:nth-child(1){
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 30em;
    gap: 3em;
}

