*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.cookie-banner-container{
    height: 40%;
    width: 90vw;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color:#F8F2EA;
    border-radius: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}


@keyframes go-down{
    0%{
        transform: translate(-50%, -260%);
    }40%{
        transform: translate(-50%, -260%);
    }
}

.title{
    font-size: 28px;
    margin-bottom: 0;
    line-height: 28px;
}

.cookie-info{
    text-align: left;
    margin-bottom: 1rem;
    font-size: 0.8em;
    color: #121212;
    padding:5px 30px 20px 30px;
}

.buttons button{
    width: 9em;
    height: 2.5em;
    justify-content:center;
    align-items: center;
    display: flex;
    background-color: white;
    color: black;
    border-radius: 30px;
    font-weight: 400;
    font-size: 15px;
    margin-left:17px;
    
}

.buttons{
    display: flex;
    justify-content: right;
    transition-delay: 0.5s;
    transition-duration: 1s;
    opacity: 1;
    padding-right: 30px;
    

}

.buttons :hover{

    background: #9EC9FF; 
    color: #ffffff; 
    

}

.buttons button:active{ 
    
    background: #1A1A1F; 
    color: #ffffff; 
}


.second-button{
    color: gray;
    margin-top: 10px;
    font-size: 11px;
    margin-left: 30px;
    margin-bottom: 15px;
}


.jully-logo{
    display: flex;
    border-bottom: inset;
    padding: 4px;
    justify-content: left;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: #9EC9FF;
    padding: 5px 3px 5px 30px;
    align-content: center;

}

img{
    width:5%;
    align-content: center;
}

.cookie-banner-container{
    height: 40%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: show-cookies 2s;
}

@keyframes show-cookies{
    0%{
        transform: translate(-50%, 100%);
    }100%{
        transform: translate(-50%, 0%)
    }
}

@keyframes go-down{
    0%{
        transform: translate(-50%, -260%);
    }40%{
        transform: translate(-50%, -260%);
    }
}