:root {
  --color-azul: #9EC9FF;
  --bg-color: #F8F2EA;
  --black: #1A1A1F;
  --color-rosa: #F6A2F1;
  --color-morado: #B37EDB;
  --color-azul-sombra: #0D076B;
  --color-amarillo:#F1CD4B;
}


.h1, .h2 , .h3, p {
  font-family: 'Sora', sans-serif;
}



/* cookies */
.cookies {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  backdrop-filter: blur(5px);
}

#confirm-button {
  background-color: black;
}

.confirm-button {
  background-color: #9ec9ff;
}



.reject-button {
  background-color: white;
}

.cookie-info {
  text-align: justify;
  font-size: 0.8em;
  color: black;
  padding: 10px 30px 20px 30px;
  text-align: left;
}

.buttons button {
  width: 11em;
  height: 3em;
  justify-content: center;
  align-items: center;
  display: flex;
  border-color: black;
  border-radius: 30px;
  font-weight: 400;
  font-size: 0.9em;
  margin-left: 17px;
}

.buttons {
  display: flex;
  justify-content: right;
  transition-delay: 0.5s;
  transition-duration: 1s;
  opacity: 1;
  padding-right: 30px;
  margin-bottom: 2em;
  align-items: center;
}

.buttons :hover {
  transition-delay: 0s;
  opacity: 1;
  background: black;
  color: #ffffff;
  font-weight: 500;
}

.buttons :active {
  animation: go-down-cookies 0.8s;
  background: black;
}

.second-button {
  color: rgb(99, 99, 99);
  font-size: 11px;
  margin-left: 30px;
  margin-bottom: 0;
  display: flex;
  align-content: center;
}

.jully-logo {
  border-bottom: inset;
  border-width: 1px;
  border-color: black;
  background-color: #9ec9ff;
  padding: 5px 3px 5px 30px;
  align-content: center;
}

.jully-logo img {
  width: 10%;
  display: flex;
}

.cookie-banner-container {
  height: 30%;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  animation: show-cookies 1s;
  width: 95vw;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: #f8f2ea;
  border-radius: 0px;
  box-shadow: 0px 4px 8px rgba(90, 90, 90, 0.1);
}





/* MENU */
/* BOTONA ARRIBA */
#button-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  color: #000000;
  background-color: white;
  text-decoration: none;
  font-size: 1.5VW;
  /* text-transform: uppercase; */
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 0.2em 2em;
  box-shadow: 0px 5px 0 0 var(--color-azul-sombra);
  cursor: pointer;
  transform: rotateX(0), rotateY(0) rotateZ(0);
  outline: 2px dashed transparent;
  transition: all 200ms ease;
}
#button-top:hover {
background-color: #555;
}



/* HEADER */
header{
  /* height: 100vh; */
  overflow: hidden;
}

/* NAV */
#menu{
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  height: 4em;
  border: 1em;
  border-color: black;
  z-index: 1;
  background-color: white;
}

nav{
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}

#menu> div:nth-child(1){
  margin-left: 2em;
}

#menu >  div:nth-child(1) > i{
  display: none;
}

#logo{
  width: 3em;;
}

/* BOTONES MENU  DESPLEGABLE */
#menu > div:nth-child(2){
  display: flex;
  flex-direction: row;
}
/* BOTONES MENU CENTRAL */
#menu > div > ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35em;
}

/* BOTONES MENU DCHA */
#menu > div:nth-child(2) > div:nth-child(2){
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10em;
  justify-content: space-evenly;
  margin-RIGHt: 2em;
}





/* CARRUSEL */
.carousel{
  top: 4em;
  position: relative;
}

.carousel-item{
  width: 100%;
  object-fit: cover;
}





/* TEXTO COLECCION */
.texto_coleccion{
  display: flex;
  flex-direction: row;
  top: 35vw;
  z-index: 0;
  width: 32em;
  position: absolute;
  margin-left: 5em;
  justify-content: space-between;
  align-items: center
}

.texto_coleccion > div > h1{
  font-size: 4em;
}

.texto_coleccion > div > h2{
  font-size: 3em;
}



/* BOTON */
.btn {
  color: #000000;
  background-color: white;
  text-decoration: none;
  font-size: 1.5VW;
  /* text-transform: uppercase; */
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 0.2em 2em;
  box-shadow: 0px 5px 0 0 var(--color-azul-sombra);
  position: relative;
  inset: 0;
  cursor: pointer;
  transform: rotateX(0), rotateY(0) rotateZ(0);
  display: inline-block;
  outline: 2px dashed transparent;
  transition: all 200ms ease;
}

.btn:hover {
  inset: 6px 0 5.5px 0;
  transform: rotateX(5deg) rotateY(3deg) rotateZ(.25deg);
  box-shadow: none;
  color: #000000;
  background-color: white;
  border: 2px solid #000000;
}




/* MAIN */
body{
  background-color: var(--bg-color);
}

/* SECCION 1 MINIMENU*/
#minimenu{
  margin-top: 10em;
}

.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-azul);
}

.col> img{
  max-width: 50%;
}

.botonminimenu{
  position: relative;
  top: 1.5vw;
}

.row>* {
  border: 2px solid black;
}









/* LOS MÃS VENDIDOS */
#MasVendidos{
  display: flex;
  flex-direction: column;
  margin: 10em 0em;
}

#MasVendidos > div{
  display: flex;
  flex-direction: row;
}

#MasVendidos > div > div{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border: 2px solid black;
}

#MasVendidos > div > div > div:nth-child(1){
  height: 40vw;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-rosa);
}

#MasVendidos > div:nth-child(2) > div:nth-child(2)> div:nth-child(1){
  background-color: var(--color-azul);
}

#MasVendidos > div:nth-child(3) > div:nth-child(1)> div:nth-child(1){
  background-color: var(--color-amarillo);
}

#MasVendidos > div:nth-child(3) > div:nth-child(2)> div:nth-child(1){
  background-color: var(--color-morado);
}

#MasVendidos > div > div > div:nth-child(2) {
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 6em;
  background-color: white;
}

#MasVendidos > div > div > div > img{
  height: 100%;
}

/* BOTON change coor*/
.btn_change_color {
  color: #000000;
  background-color: white;
  text-decoration: none;
  font-size: 0.5em;
  height: 4.5em;
  /* text-transform: uppercase; */
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 0.2em 2em;
  box-shadow: 0px 5px 0 0 var(--color-azul-sombra);
  position: relative;
  inset: 0;
  cursor: pointer;
  transform: rotateX(0), rotateY(0) rotateZ(0);
  display: inline-block;
  outline: 2px dashed transparent;
  transition: all 200ms ease;
}

.btn_change_color:hover {
  inset: 6px 0 5.5px 0;
  transform: rotateX(5deg) rotateY(3deg) rotateZ(.25deg);
  box-shadow: none;
  color: #000000;
  background-color: white;
  border: 2px solid #000000;
}

.one, .one:hover{
  background-color: silver;
}

.two, .two:hover{
  background-color: gold;
}













/* RESPONSIVE */

/* COOKIES */
@keyframes show-cookies {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}

/* responsive tablet */

@media (max-width: 990px) {
  .cookie-info {
    font-size: 0.6em;
    padding: 10px 20px 0px 20px;
    text-align: justify;
  }
  .cookie-banner-container {
    height: auto;
  }

  .buttons {
    padding-right: 20px;
    padding-bottom: 1em;
    align-items: center
  }

  .jully-logo {
    padding: 5px 3px 5px 20px;
  }
  
  .buttons button {
    font-size: 0.8em;
    width: 10.5em;
    height: 2.6em;
  }

  .hidden-info {
    opacity: 1;
  }

  .second-button {
    font-size: 0.5em;
  margin-bottom: 0;

  }
}

/* responsive movil */

@media only screen and (max-width: 576px) {
  .cookie-info {
    margin: 0px 15px 10px 15px;
  }
    .jully-logo {
    padding: 5px 3px 5px 15px;
  }

  img {
    width: 10%;
  }

  .buttons button {
    font-size: 0.7em;
    width: 100%;
    height: 3.2em;
    margin: 0.3em;
  }

  .buttons {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .second-button {
    margin-left: 15px;
    margin-bottom: 12px;
  }
}












/* RESPONSIVE */
/* MAIN */

@media only screen and (max-width: 1135px) {
  /* NAVBAR */ 
  #menu {
    flex-direction: column;
    align-items: flex-start;
}
  #menu> div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2em;
  }

  #menu > div:nth-child(1)> i{
    display: flex;
  }

  #menu > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #menu > div > ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  
  }
  #menu > div:nth-child(2) > div:nth-child(2){
    visibility: hidden;   
    flex-direction: column;
    align-items: flex-start;
  }




  /* COLECCION CAPSULA */
  .btn {
    font-size: 2.5vw;
  }

  .texto_coleccion {
    width: 20em;
    top: 42vw;   
    width: 24em;
  }

  .texto_coleccion > div > h1{
    font-size: 3em;
  }
  
  .texto_coleccion > div > h2{
    font-size: 2em;
  }
}



@media only screen and (max-width: 800px) {
  #MasVendidos > div > div > div:nth-child(2) {
  padding: 2em;
  }

  #button-top{
    font-size: 3vw;
  }

}



@media only screen and (max-width: 580px) {

  #button-top{
    font-size: 5vw;
  }


  /* SECCION 1 MINIMENU*/

  .row {
    flex-direction: column;
  }
  .col> img{
    width: auto;
  }
  .col> a > button{
    font-size: 4vw;
  }


/* MAS VENDIDOS */
  #MasVendidos > div {
    flex-direction: column;
  }

  #MasVendidos > div > div > div > img{
    width: auto;
  }

  #MasVendidos > div > div > div:nth-child(1) {
    height: 94vw;
  }
}
