/* GENERAL */
* {
  margin: 0;
  font-family: "Sora", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-size: 6vw;
  margin: 0;
}

header > div:nth-child(1) {
  padding-top: 4em;
  background-color: white;
  margin: 0;
}

:root {
  --color-azul: #9ec9ff;
  --bg-color: #f8f2ea;
  --black: #1a1a1f;
  --color-rosa: #f6a2f1;
  --color-morado: #b37edb;
  --color-azul-sombra: #0d076b;
  --color-amarillo: #f1cd4b;
  --color-gris-hover: rgb(134, 134, 134);
}

/* BOTON ARRIBA */
#button-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  color: #000000;
  background-color: white;
  text-decoration: none;
  font-size: 1.5vw;
  /* text-transform: uppercase; */
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 0.2em 2em;
  box-shadow: 0px 5px 0 0 var(--color-azul-sombra);
  cursor: pointer;
  transform: rotateX(0), rotateY(0) rotateZ(0);
  outline: 2px dashed transparent;
  transition: all 200ms ease;
}
#button-top:hover {
  background-color: #555;
}

body {
  background-color: var(--bg-color);
}
/* BOTON */
.btn {
  color: #000000;
  background-color: white;
  text-decoration: none;
  font-size: 1.5vw;
  /* text-transform: uppercase; */
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 0.2em 2em;
  box-shadow: 0px 5px 0 0 var(--color-azul-sombra);
  position: relative;
  inset: 0;
  cursor: pointer;
  transform: rotateX(0), rotateY(0) rotateZ(0);
  display: inline-block;
  outline: 2px dashed transparent;
  transition: all 200ms ease;
}

.btn:hover {
  inset: 6px 0 5.5px 0;
  transform: rotateX(5deg) rotateY(3deg) rotateZ(0.25deg);
  box-shadow: none;
  color: #000000;
  background-color: white;
  border: 2px solid #000000;
}

/* NAV */
.bg-body-tertiary {
  background-color: #f8f9fa;
}
#menu {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  height: 4em;
  border: 1em;
  border-color: black;
  z-index: 1;
  background-color: white;
}

nav {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}

.colection-capsule,
.bestseller,
.categories {
  font-size: 1em;
}

#menu > div:nth-child(1) {
  padding-left: 2em;
}

#menu > div:nth-child(1) > i {
  display: none;
}

#logo {
  width: 3em;
}

/* BOTONES MENU  DESPLEGABLE */
#menu > div:nth-child(2) {
  display: flex;
  flex-direction: row;
}
/* BOTONES MENU CENTRAL */
#menu > div > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35em;
}

/* BOTONES MENU DCHA */
#menu > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10em;
  justify-content: space-evenly;
  margin-right: 2em;
}

.hide-texto {
  display: none;
}

.dropdown-menu {
  --bs-dropdown-border-color: none;
  --bs-dropdown-bg: white;
  --bs-dropdown-border-radius: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: #f8f9fa;
}

.dropdown-item:hover {
  background-color: #dadada;
}

/* IMAGENES */
img {
  height: 80%;
}

.img_div {
  display: flex;
  align-items: center;
}

/* TEXTO */
.infojoyas {
  font-size: 1.2vw;
}

/* MAIN */
/* SECTION */
#colec_cap > div {
  height: 40vw;
  padding: 0 4em;
}

/* APARTADO 1 */
#apartado1 {
  background-color: var(--color-azul);
  border: 2px solid var(--black);
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: center;
}

#apartado1 > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 30em;
  gap: 3em;
}

/* APARTADO 2 */
#apartado2 {
  background-color: var(--color-morado);
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3em;
  justify-content: center;
}

#apartado2 > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 30em;
  gap: 3em;
}

/* APARTADO 3 */
#apartado3 {
  background-color: var(--color-rosa);
  border: 2px solid var(--black);
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: center;
}

#apartado3 > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 30em;
  gap: 3em;
}

/* APARTADO 4 */
#apartado4 {
  background-color: var(--color-amarillo);
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3em;
  justify-content: center;
}

#apartado4 > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 30em;
  gap: 3em;
}

/* FOOTER */
/* seccion newsletter */
button:focus,
input:focus,
textarea:focus {
  outline: 0;
}

.newsletter_wrapper {
  height: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 2px;
}

.newsletter_wrapper h2 {
  color: #000000;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0.3em;
  font-size: 2.9em;
}

.newsletter_wrapper h1::before {
  content: "";
  position: absolute;
  background: #dddddd;
  width: 90px;
  height: 1px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.newsletter_wrapper p {
  color: #000000;
  font-size: 1.3em;
  line-height: 1.2em;
}

.boton-enviar {
  position: relative;
}

.placeholder {
  margin: 1.4em 0em 0.8em 0em;
  opacity: 1;
  width: 24em;
  height: 3em;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  border-radius: 25px;
}

.placeholder input {
  border-style: hidden;
  width: 100%;
  margin: 0px 0px 0px 23px;
  background-color: transparent;
}

.enviar button {
  width: 8.7em;
  height: 3em;
  border-style: hidden;
  background-color: #ffffff;
  border-radius: 25px;
}

.enviar button:hover {
  background-color: #000000;
  color: #ffffff;
}

.newsletter_wrapper form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px;
  border-left: 1px solid #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #9ec9ff;
}

.newsletter h1 {
  margin-bottom: 0.6em;
  overflow: hidden;
  white-space: nowrap;
}

/* acordeon */

.accordion {
  --bs-accordion-btn-focus-border-color: #f6a2f1;
  --bs-accordion-border-color: black;
  --bs-accordion-active-bg: #f8f2ea;
  --bs-accordion-border-radius: none;
  --bs-accordion-inner-border-radius: none;
  --bs-accordion-btn-focus-background-color: #f6a2f1;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
  background-color: #f8f2ea;
}
.accordion-button:not(.collapsed) {
  border-color: #000000;
  border-bottom-style: solid;
}

.accordion-body {
  padding: 0;
}

.accordion-body div {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
}

.accordion-body div:active {
  background-color: #f8ead7;
  color: rgb(0, 0, 0);
}

.accordion-body div:hover {
  font-weight: bold;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}

.accordion-button {
  border-radius: 0;
  padding: 1.5em 2.4em 1.5em 3em;
}

.accordion-item {
  border-radius: 0;
}

.accordion a {
  font-size: 1.2em;
}

h3 {
  margin: 0;
}

/* footer section */

.footer {
  height: 45vh;
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  background-color: #f8f2ea;
  flex-wrap: wrap;
}

.information a,
.aboutus a,
.youneedhelp a {
  font-size: 0.9em;
}

.information {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
}

.aboutus {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
}

.youneedhelp {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
}

.redeslogo {
  height: 25vh;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  text-align: left;
  background-color: #f8f2ea;
  flex-wrap: wrap;
  flex-direction: row;
}

.redes {
  margin-right: 3em;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.redes i {
  display: flex;
  width: 1.5em;
  height: 0.5em;
  align-items: center;
  justify-content: center;
}

.logofooter {
  display: flex;
  margin-left: 3em;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
}

.logofooter img {
  width: 7.5em;
}

/* copyright */

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f2ea;
  padding-bottom: 3em;
}

.copyright p {
  margin: 0.3em;
  font-size: 0.8em;
}

/* Botones businessmen section */
.btn-2,
.btn-2 *,
.btn-2 :after,
.btn-2 :before,
.btn-2:after,
.btn-2:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-2:disabled {
  cursor: default;
}
.btn-2:-moz-focusring {
  outline: auto;
}
.btn-2 svg {
  display: block;
  vertical-align: middle;
}
.btn-2 [hidden] {
  display: none;
}
.btn-2 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-2 span {
  mix-blend-mode: difference;
}
.btn-2:before {
  background: #fff;
  content: "";
  inset: 0;
  position: absolute;
  transform: translateX(var(--progress, -100%));
  transition: transform 0.2s ease;
}
.btn-2:hover:before {
  --progress: 0;
}

/* RESPONSIVE */
/* 1135 */
@media only screen and (max-width: 1135px) {
  /* TEXTO */
  .infojoyas {
    font-size: 1.7vw;
  }

  /* NAVBAR */
  #menu {
    flex-direction: column;
    align-items: flex-start;
  }
  #menu > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 2em;
    width: 100%;
  }

  #menu > div:nth-child(1) > i {
    display: flex;
    cursor: pointer;
    padding-right: 3em;
  }

  #menu > div:nth-child(2) {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 1em;
  }

  #menu > div > ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  #menu > div:nth-child(2) > div:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  #menu > div:nth-child(2) > div:nth-child(2) > i {
    padding: 1em 2em;
    cursor: pointer;
  }

  .nav-item {
    padding-left: 2em;
  }
  .nav-link {
    width: 100%;
  }

  /* DROPDOWN */
  .dropdown-menu {
    border-radius: 0px;
    width: 100%;
  }
  .dropdown {
    width: 100%;
  }

  .hide-texto {
    display: block;
    text-align: center;
    margin: 0.5em;
  }

  .iconos-desplegables {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2em;
    cursor: pointer;
  }
}

/* 800 */
@media only screen and (max-width: 800px) {
  .btn {
    font-size: 3vw;
  }

  #button-top {
    font-size: 3vw;
  }

  /* TEXTO */
  .infojoyas {
    font-size: 2vw;
  }
  #apartado1 > div:nth-child(2) {
    gap: 1em;
  }
  #apartado2 > div:nth-child(1) {
    gap: 1em;
  }
  #apartado3 > div:nth-child(2) {
    gap: 1em;
  }
  #apartado4 > div:nth-child(1) {
    gap: 1em;
  }

  /* FOOTER */
  /* newletter */
  .newsletter_wrapper h2 {
    font-size: 2em;
  }
  .newsletter p {
    font-size: 0.9em;
  }
  .newsletter h1 {
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0em 0em 0.6em 0em;
  }

  .newsletter_wrapper {
    padding: 1em;
  }

  .newsletter_wrapper form {
    width: 88%;
  }

  .newsletter p {
    font-size: 1.1em;
    margin: 0;
    padding: 0em 1em 0.5em 1em;
    text-align: center;
  }

  .placeholder {
    width: 14em;
    margin: 0.8em 0em 0.8em 0em;
  }

  .newsletter h1 {
    white-space: inherit;
  }

  .placeholder {
    height: 2.8em;
  }
  .enviar button {
    width: 7em;
    height: 2.7em;
  }

  .placeholder input {
    font-size: 0.9em;
  }

  /* TEXTO FOOTER */
  .footer {
    flex-direction: column;
    background-color: #f8f2ea;
    align-content: left;
    flex-wrap: nowrap;
    height: 50vh;
    padding-top: 2.5em;
  }

  .information {
    margin-left: 2em;
  }

  .aboutus {
    margin-left: 2em;
    justify-content: flex-start;
    justify-content: center;
  }

  .youneedhelp {
    margin-left: 2em;
    justify-content: flex-start;
  }

  .redes {
    margin-right: 0;
  }

  .redeslogo {
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding-top: 3em;
    align-items: center;
  }

  .logofooter {
    flex-wrap: nowrap;
    margin-left: 0;
    align-items: flex-start;
    display: flex;
    padding-top: 2em;
  }

  .logofooter > img {
    height: 18vw;
  }

  .copyright {
    padding: 0em 1em 0em 1em;
  }

  .copyright p {
    font-size: 0.7em;
    text-align: center;
    margin-bottom: 1.4em;
  }
}

/* 550 */
@media only screen and (max-width: 550px) {
  /* MENU BOOTSTRAP */

  #button-top {
    font-size: 5vw;
  }
  #colec_cap > div {
    height: auto;
    padding: 0;
  }
  /* TEXTO */
  .infojoyas {
    font-size: 0.9em;
  }

  /* GENERAL */
  .img_div {
    justify-content: center;
    height: auto;
  }

  #imginicial {
    height: 50vw;
  }

  .btn {
    font-size: 6vw;
  }

  /* APARTADO 1 */
  #apartado1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    gap: 1em;
  }

  #apartado1 > div:nth-child(2) {
    align-items: center;
    width: 100%;
    margin-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
  }

  #apartado1 > div:nth-child(2) > div:nth-child(1) {
    text-align: center;
  }

  /* APARTADO 2 */
  #apartado2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    justify-content: flex-start;
    gap: 1em;
  }

  #apartado2 > div:nth-child(1) {
    align-items: center;
    width: 100%;
    margin-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
  }

  #apartado2 > div:nth-child(1) > div:nth-child(1) {
    text-align: center;
  }

  /* APARTADO 3 */
  #apartado3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    gap: 1em;
  }

  #apartado3 > div:nth-child(2) {
    align-items: center;
    width: 100%;
    margin-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
  }

  #apartado3 > div:nth-child(2) > div:nth-child(1) {
    text-align: center;
  }

  /* APARTADO 4 */
  #apartado4 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    justify-content: flex-start;
    gap: 1em;
  }

  #apartado4 > div:nth-child(1) {
    align-items: center;
    width: 100%;
    margin-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
  }
  #apartado4 > div:nth-child(1) > div:nth-child(1) {
    text-align: center;
  }

  /* FOOTER */

  /* FOOTER */
  .newsletter_wrapper {
    height: 50vh;
  }

  .newsletter_wrapper h2 {
    font-size: 1.4em;
    font-weight: bold;
  }

  .newsletter_wrapper h2 {
    margin-bottom: 0.5em;
  }

  /* accordion */

  .accordion-button {
    padding-left: 2em;
    padding-right: 1.2em;
  }

  .accordion-item:first-of-type .accordion-button {
    border-radius: 0s;
  }

  .accordion-button {
    padding: 1em 1.2em 1em 2em;
  }

  .accordion-item {
    border-style: solid;
    border-width: 2px;
  }

  h3 {
    margin: 0;
    font-size: 1em;
  }

  .accordion-body {
    padding: 0;
  }

  .accordion-body a {
    font-size: 0.9em;
  }

  .accordion-body div {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
  }

  .redes {
    margin: 0;
    justify-content: center;
  }

  .redes i {
    width: 1.5em;
  }

  .copyright {
    padding: 0em 1em 2.4em 1em;
  }
  /* copyright */
  .copyright p {
    text-align: center;
    font-size: 0.7em;
  }
}
